[Unit]
Description=restful.ru

Requires=docker.service
After=docker.service

[Service]

Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill restful.ru
ExecStartPre=-/usr/bin/docker rm restful.ru
ExecStartPre=-/usr/bin/docker pull marley/restful.ru:latest
ExecStart=/bin/sh -c '/usr/bin/docker run --name restful.ru   \
 -p 4007:80                        \
 marley/restful.ru'
ExecStop=-/usr/bin/docker kill restful.ru
ExecStop=-/usr/bin/docker rm restful.ru

[Install]
WantedBy=multi-user.target
